{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="es" data-theme="light">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% tailwind_css %}
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
              integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        {% block extra_head %}{% endblock %}
        <style>{% block extra_style %}{% endblock %}</style>
    </head>
    <body>
        {% block body %}{% endblock %}
        <script>{% block extra_script %}{% endblock %}</script>
    </body>
</html>
