<div class="navbar bg-base-100 shadow-md">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-5 w-5"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </div>
        </div>
        <a class="btn btn-ghost text-xl max-w-64"><img src="https://d2pm4x1rp707yw.cloudfront.net/assets/main-logo.png" ></a>
    </div>
    <div class="navbar-center hidden lg:flex"></div>
    <div class="navbar-end">
                    <form method="post" action="{% url 'web:logout' %}">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-outline"  type="submit">Cerrar sesión</button>
                    </form>
    </div>
</div>
